<div class="container login-container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 col-lg-4">

            <form class="p-3 bg-white" style="border-radius:5px" method="post">
                <h3 style="font-size : 18px ; text-align : center">Công ty TNHH Lê Văn Tuyến</h3>
                <div class="form-outline mb-4">
                    <input id="form2Example1" class="form-control"/>
                    <label class="form-label" for="form2Example1">Mã người dùng</label>
                </div>
                <div class="form-outline mb-4">
                    <input id="form2Example2" class="form-control"/>
                    <label class="form-label" for="form2Example2">Mật khẩu</label>
                </div>
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <div class="form-check">
                            <input class="form-check-input" id="form2Example31"/>
                            <label class="form-check-label" for="form2Example31">Nhớ mật khẩu</label>
                        </div>
                    </div>

                    <div class="col">
                        <a href="#!">Quên mật khẩu ?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>
            </form>
        </div>
    </div>
</div>